$contentColor: #eee;
$backgroundColor: #111;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato';
  src: url(../media/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: url(../media/Lato-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url(../media/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url(../media/Lato-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: $backgroundColor;
  color: $contentColor;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
